@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background-color: #F2F2F2;
}

/* logo */

.logo {
  margin: 48px auto 54px;
  width: 119px;
}

.logo img {
  width: 100%;
}

/* header */

.header {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 64px;
}

.header-hero-desktop-left,
.header-hero-desktop-right {
  display: none;
}

.header-hero-tablet {
  width: 414px;
  position: absolute;
  left: -20px;
}

.header-content {
  padding-top: 201px;
}

.header h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #28283D;
  margin-bottom: 24px;
}

.header .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  width: 327px;
  margin: 0 auto 32px;
}

.header .links .download {
  display: block;
  width: 193px;
  padding: 16px 40px;
  margin: 0 auto 16px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  background-color: #4D96A9;
  border-radius: 29px;
}

.header .links .download:hover {
  background-color: #71C0D4;
}

.header .links .download span {
  color: #8FE3F9;
}

.header .links .what {
  display: block;
  width: 139px;
  padding: 16px 29px;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  background-color: #855FB1;
  border-radius: 29px;
}

.header .links .what:hover {
  background-color: #B18BDD;
}

/* divider 1 */

.divider-1 {
  margin-bottom: 64px;
}

.divider-1 .vertical {
  width: 0px;
  height: 84px;
  border-right: 1px solid #D8D8D8;
  margin: auto;
}

.divider-1 .num {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 1px solid #D8D8D8;
  padding-top: 15px;
  margin: auto;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  text-align: center;
}

/* images */

.images {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 24px;
  padding: 0 24px;
  margin-bottom: 64px;
}

.images img {
  width: 100%;
  border-radius: 7px;
}

/* content */

.content {
  text-align: center;
  padding: 0 24px;
  margin-bottom: 64px;
}

.content h3 {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4D96A9;
  margin-bottom: 24px;
}

.content h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #28283D;
  margin-bottom: 32px;
}

.content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
}

/* divider 2 */

.divider-2 {
  margin-bottom: -28px;
}

.divider-2 .vertical {
  width: 0px;
  height: 84px;
  border-right: 1px solid #D8D8D8;
  margin: auto;
}

.divider-2 .num {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 1px solid #D8D8D8;
  padding-top: 15px;
  margin: auto;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  text-align: center;
  background-color: #F2F2F2;
  position: relative;
  z-index: 10;
}

/* footer */

footer {
  background:linear-gradient(0deg, rgba(77,150,168,.8), rgba(77,150,168,0.8)),
    url("../images/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 92px 24px 88px;
  text-align: center;
}

footer h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FAFAFA;
  margin-bottom: 24px;
}

footer .footer-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FAFAFA;
  margin-bottom: 32px;
}

footer .footer-link a {
  background: #855FB1;
  border-radius: 29px;
  padding: 16px 40px;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
}

footer .footer-link a:hover {
  background-color: #B18BDD;
}

footer .footer-link a span {
  color: #D9B8FF;
}



@media (min-width: 768px) {
  /* header */

  .header {
    margin-bottom: 80px;
  }

  .header-hero-tablet {
    width: 820px;
    left: -26px;
  }

  .header-content {
    padding: 375px 156px 0;
  }

  .header h1 {
    width: 339px;
    margin: 0 auto 24px;
    font-size: 48px;
    line-height: 48px;
  }

  .header .description {
    width: 457px;
    margin: 0 auto 32px;
  }

  .header .links .download {
    display: inline-block;
    margin: 0 16px 0 0;
  }

  .header .links .what {
    display: inline-block;
  }

  /* divider 1 */

  .divider-1 {
    margin-bottom: 67px;
  }

  /* images */

  .images {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 11px;
    padding: 0 40px;
    margin-bottom: 48px;
  }

  .images img {
    width: 100%;
    border-radius: 7px;
  }

  /* content */

  .content {
    padding: 0 97px;
    margin-bottom: 80px;
  }

  .content h3 {
    margin-bottom: 16px;
  }

  .content h2 {
    font-size: 40px;
    line-height: 44px;
    margin: auto;
    margin-bottom: 32px;
    width: 445px;
  }

  /* footer */

  footer {
    background:linear-gradient(0deg, rgba(77,150,168,.8), rgba(77,150,168,0.8)),
      url("../images/tablet/image-footer.jpg");
    padding: 92px 98px 66px;
    text-align: center;
  }

  footer h2 {
    font-size: 40px;
    line-height: 44px;
    margin: auto;
    margin-bottom: 32px;
    width: 457px;
  }

  footer .footer-info {
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  /* logo */

  .logo {
    margin: 80px auto 61px;
  }

  /* header */

  .header {
    margin-bottom: 117px;
    position: relative;
  }

  .header-hero-desktop-left {
    display: block;
    position: absolute;
    top: 0;
    left: -32px;
  }

  .header-hero-desktop-right {
    display: block;
    position: absolute;
    top: 0;
    right: -32px;
  }

  .header-hero-tablet {
    display: none;
  }

  .header-content {
    padding-top: 47px;
  }

  .header h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    width: 445px;
    margin-bottom: 34px;
  }

  .header .description {
    font-size: 18px;
    line-height: 26px;
    width: 540px;
  }

  /* divider 1 */

  .divider-1 {
    margin-bottom: 64px;
  }

  /* images */

  .images {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 0 165px;
    margin-bottom: 80px;
  }

  /* content */

  .content {
    padding: 0 450px;
    margin-bottom: 72px;
  }

  .content h3 {
    margin-bottom: 16px;
  }

  .content h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #87879D;
  }

  /* footer */

  footer {
    background:linear-gradient(0deg, rgba(77,150,168,.8), rgba(77,150,168,0.8)),
      url("../images/desktop/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116px 165px 104px;
    text-align: center;
    display: grid;
    grid-template: 1fr / 475px 442px 193px;
    text-align: left;
  }

  footer h2 {
    font-size: 40px;
    line-height: 44px;
    margin: 0;
  }

  footer .footer-info {
    margin: 0;
    width: 350px;
  }

  footer .footer-link {
    margin-top: 15px;
  }
}
